nav {
  width: 100%;
  height: auto;
  top: 0;
  z-index: 2;
  background-color: black;
  color: beige;
  position: fixed;
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 20px 10px 10px;
  text-align: right;
}

li {
  display: inline;
  padding: 20px;
  text-decoration: none;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: beige;
}

main {
  padding-top: 100px;
  text-align: center;
  /* position: ; */
  background-image: url(./Background.jpg);
  background-size: cover;
  background-repeat: repeat-x;
}

img {
  margin-top: 20px;
  border: solid black 2px;
  width: 200px;
  height: auto;
  border-radius: 100px;
}

h1,
h2,
h3 {
  color: beige;
}

.1stcolumn {
  position: relative;
  left: -600px;
}
